{% extends 'monitoring/base.html' %}

{% block title %}
Login Attempts
{% endblock %}

{% block content %}

<div class="topbar">

    <h1>
        Login Attempts
    </h1>

</div>

<div class="logs-section">

    <div class="log-box scrollable-log-box">

        <input
            type="text"
            id="log-search"
            placeholder="Search login attempts..."
            class="log-search"
        >

        <ul id="log-list">

            {% for log in loginLogs %}

            <li>

                Username: {{ log.username }}

                |

                Status: {{ log.status }}

                |

                IP: {{ log.ip_address }}

                |   

                Time: {{ log.timestamp }}

            </li>

            {% endfor %}

        </ul>

    </div>

</div>

<script>

const searchInput =
    document.getElementById("log-search");

searchInput.addEventListener("keyup", () => {

    const filter =
        searchInput.value.toLowerCase();

    const logs =
        document.querySelectorAll("#log-list li");

    logs.forEach(log => {

        const text =
            log.textContent.toLowerCase();

        log.style.display =
            text.includes(filter)
            ? ""
            : "none";

    });

});

</script>

{% endblock %}